.Banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
width: 1080px;
height: 490px;
padding: 60px 80px;
margin: 60px 0px;
border-radius: 18px;
background: rgb(198, 228, 214);
}

*{
    font-family: "Fira Sans", serif;
}
.title{
    color: rgba(14, 14, 14, 0.5);
font-size: 20px;
font-weight: 500;
flex-direction: ;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin-bottom: 30px;
}
.Sub-title{
position: static;
width: 500px;
height: 150px;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;
margin: 12px 0px;
color: rgb(14, 14, 14);
font-size: 48px;
font-weight: bold;
text-align: left;
}
.Btn-primary{
    border-radius: 6px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
font-size: 14px;
font-weight: bold;
border: none;
padding: 13px 26px 13px 26px;
margin: 20px 0px;
}
button:hover{
    background-color: rgb(13, 207, 13);
}
.img{
width: 360px;
height: 310px;
margin: 0px 50px;
}
                                               /*The Vision of Future*/
.heading{
    color: rgb(14, 14, 14);
font-size: 35px;
font-weight: bold;
margin: 20px 0px;
}
.description{
    color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
margin-bottom: 24px;
width: 1080px;
height: 36px;
padding: 0px;
}
.Vision{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.Box-content01{
    box-sizing: border-box;
border-radius: 12px;
background: rgba(84, 144, 245, 0.2);
width: 350px;
display: flex;
height: 280px;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 24px;
margin: 24px 24px;
}
.Box-content02{
    box-sizing: border-box;
border-radius: 12px;
background: rgb(198, 228, 214);
width: 350px;
height: 280px;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
display: flex;
padding: 24px;
margin: 24px 24px;
}
.Box-content03{
    box-sizing: border-box;
    border-radius: 12px;
    background: rgb(247, 235, 207);
width: 350px;
height: 280px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 24px;
margin: 24px 24px;
}
.Box-head{
    color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 700;
text-align: left;
margin: 10px;
}
.Box-image{
width: 50px;
height: 50px;
left: 0px;
top: 1px;
}
.Btn01{
    border-radius: 5px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
font-size: 14px;
font-weight: bold;
border: none;
padding: 13px 26px 13px 26px;
margin: 20px 0px;
}

.Btn02{
    border-radius: 5px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
font-size: 14px;
font-weight: bold;
border: none;
padding: 13px 26px 13px 26px;
margin: 20px 0px;
}

.Btn03{
    border-radius: 3px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
font-size: 14px;
font-weight: bold;
border: none;
padding: 13px 26px 13px 26px;
margin: 20px 0px;
}